<div class="comic-text">
    <div class="fun-home"> 
            <div>
                <a href="/books/<%= data._id %>"> <img class="comic-img" src="images/<%= data.image %>"/></a></div>
            <span class="emphasis"><%= data.title %></span><br>
            by <%= data.author %> <br>
            <%= data.ratings %> stars <br>
            <a class="all-images__link" href="/books/<%= data._id %>">Details</a>
        </div>
    </div> 