<%- include('../partials/head') -%>

<div class="container1">
    <i class="fa fa-bars"></i>
    <%- include('../partials/nav') -%>
</div>

<div class="card">
    
        <div class="card-top">
         <div class="text-top">  
        <p><%= book.title %></p>
        <img class="comic-card" src="/images/<%= book.image %>"/>
        </div>
    </div>
    
    <div class="card-bottom">
        <div class="title">
            <p><b>Title: </b><i><%= book.title %></i></div>
        <div class="author"><p><b>Author:</b><%= book.author %></p> </div>
        <div class="publisher"><p><b>Publisher:</b><%= book.publisher %></p></div>
        <div class="genre"><p><b>Genre:</b> <%= book.genre %> </p></div>
        <div class="number-of-pages"><b>Number of pages:</b><%= book.pages %></div>
        <div><p><b>Rating:</b> <%= book.rating %> </p></div>
    <div><b>Synopsis:</b> <%= book.synopsis %></div>
    
</div>

</div>
<%- include('../partials/footer') -%> 
</body>

</html>
